<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>knob.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{176,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,176}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>layer1.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{260,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,250}}</string>
                <key>sourceSize</key>
                <string>{260,250}</string>
            </dict>
            <key>layer2.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{260,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,250}}</string>
                <key>sourceSize</key>
                <string>{260,250}</string>
            </dict>
            <key>layer3.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,2},{260,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,250}}</string>
                <key>sourceSize</key>
                <string>{260,250}</string>
            </dict>
            <key>layer4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{260,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,250}}</string>
                <key>sourceSize</key>
                <string>{260,250}</string>
            </dict>
            <key>layer5.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,254},{260,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,250}}</string>
                <key>sourceSize</key>
                <string>{260,250}</string>
            </dict>
            <key>stick.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,254},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>joystick.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b157a8772fb2445665b63b5b6c231eda:12481829033a5ca459a9bd7b51b7aa63:133aa1c7c1f8aaeda2a6afd099caccbd$</string>
            <key>textureFileName</key>
            <string>joystick.png</string>
        </dict>
    </dict>
</plist>
